﻿@using CarRentalAgency.Helper
@using PagedList.Mvc
@model PagedList.IPagedList<CarRentalAgency.Models.Car>

<table class="table">
    <tr>
        <th>
            Photo
        </th>
        <th>
            @Ajax.ActionLink("Name", "Search", new { sortOrder = "Name", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string) ViewBag.sortOrder, "Name", (string) ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Seats", "Search", new { sortOrder = "Seats", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "Seats", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Large Bags Num", "Search", new { sortOrder = "LargeBagNum", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "LargeBagNum", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Small Bags Num", "Search", new { sortOrder = "SmallBagNum", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "SmallBagNum", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Size", "Search", new { sortOrder = "SizeId", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "SizeId", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Rated", "Search", new { sortOrder = "Rated", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "Rated", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Price/Day", "Search", new { sortOrder = "PricePerDay", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "PricePerDay", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Air Conditioning", "Search", new { sortOrder = "AirConditioning", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
           @Html.GetArrow((string)ViewBag.sortOrder, "AirConditioning", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Automatic Transmission", "Search", new { sortOrder = "AutomaticTransmission", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "AutomaticTransmission", (string)ViewBag.sortDir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Photo != null)
                {
                    @Html.GetThumbnail(item.Photo, 100, 100)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LargeBagNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallBagNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirConditioning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutomaticTransmission)
                @Html.HiddenFor(modelItem => item.Available)
            </td>
            <td>
                @Html.ActionLink("Select Car", "Create", "Orders", new { carId = item.CarId }, new { @class = "text-danger" })
            </td>
        </tr>
    }
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
        new { page, sortOrder = ViewBag.SortOrder, sortDir = ViewBag.SortDir, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "results" })
    )