﻿@using CarRentalAgency.Helper
@using PagedList.Mvc
@model PagedList.IPagedList<CarRentalAgency.Models.Order>

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Id", "Search", new { sortOrder = "Id", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "Id", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Location", "Search", new { sortOrder = "Location", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "Location", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Destination", "Search", new { sortOrder = "Destination", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "Destination", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Pick-up Date", "Search", new { sortOrder = "StarTime", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "StarTime", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Drop off Date", "Search", new { sortOrder = "EndTime", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "EndTime", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Deal Time", "Search", new { sortOrder = "DealTime", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "DealTime", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Total Price", "Search", new { sortOrder = "TotalPrice", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "TotalPrice", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("User Name", "Search", new { sortOrder = "UserName", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "UserName", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Car Id", "Search", new { sortOrder = "CarId", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter }, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "grid",
                InsertionMode = InsertionMode.Replace
            })
            @Html.GetArrow((string)ViewBag.sortOrder, "CarId", (string)ViewBag.sortDir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
        new { page, sortOrder = ViewBag.SortOrder, sortDir = ViewBag.SortDir, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid" })
    )