﻿@using CarRentalAgency.Helper
@using CarRentalAgency.Models
@model CarRentalAgency.Models.OrderViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <td>
                <div class="form-horizontal" style="background-color: gold">
                    <h4 align="center">Order</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CarId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StarTime, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.StarTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StarTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" style="background-color: yellowgreen" />
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-md-6">
                <div class="form-horizontal table-bordered" style="background-color: paleturquoise">
                    <h4 align="center">Selected Car</h4>
                    <hr />
                    <dl class="dl-horizontal text-center">
                        <dt>
                            
                        </dt>
                        <dd>
                            @if (Model.Car.Photo != null)
                            {
                                @Html.GetThumbnail(Model.Car.Photo,150,150)
                            }
                        </dd>
                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.Name)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.Seats)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.Seats)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.LargeBagNum)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.LargeBagNum)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.SmallBagNum)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.SmallBagNum)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.SizeId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.SizeId)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.Rated)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.Rated)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.PricePerDay)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.PricePerDay)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.AirConditioning)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.AirConditioning)
                        </dd>

                        <dt style="width:250px">
                            @Html.DisplayNameFor(model => model.Car.AutomaticTransmission)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Car.AutomaticTransmission)
                        </dd>
                    </dl>
                </div>
            </td>
        </tr>
    </table>
}
@if (User.IsInRole(RoleName.CanManage))
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}