﻿@using CarRentalAgency.Helper
@using CarRentalAgency.Models
@model CarRentalAgency.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CarId)

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>

        </dt>
        <dd>
            @if (Model.Car.Photo != null)
            {
                @Html.GetThumbnail(Model.Car.Photo)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.LargeBagNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.LargeBagNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.SmallBagNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.SmallBagNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.SizeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.SizeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Rated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Rated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.PricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.AirConditioning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.AirConditioning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.AutomaticTransmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.AutomaticTransmission)
        </dd>
    </dl>
</div>
@if (User.IsInRole(RoleName.CanManage))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}