﻿@model PagedList.IPagedList<CarRentalAgency.Models.Order>

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order List</h2>

@using (Ajax.BeginForm("Search", "Orders",
    new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "grid",
        InsertionMode = InsertionMode.Replace
    }))
{
    <input type="text" name="searchInput" placeholder="Live Search"
           oninput="$('#searchForm').submit()" value="@ViewBag.CurrentFilter" />
    <input type="submit" value="Search" />

}
<div id="grid">
    @Html.Partial("_OrderView", Model)
</div>
