﻿@using CarRentalAgency.Helper
@using CarRentalAgency.Models
@model CarRentalAgency.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargeBagNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargeBagNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallBagNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallBagNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                @Html.GetThumbnail(Model.Photo)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutomaticTransmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutomaticTransmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>

<p>
@if (User.IsInRole(RoleName.CanManage)) { 
    @Html.ActionLink("Edit", "Edit", new {id = Model.CarId}) |
}
    @Html.ActionLink("Back to List", "Index")
</p>