﻿@using CarRentalAgency.Helper
@model PagedList.IPagedList<CarRentalAgency.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car List</h2>
@using (Ajax.BeginForm("Search", "Cars",
    new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace
    }))
{
    <input type="text" name="searchInput" placeholder="Live Search"
           oninput="$('#searchForm').submit()" value="@ViewBag.CurrentFilter" />
    <input type="submit" value="Search" />
}
<div id="results">
    @Html.Partial("_CarViewReadOnly", Model)
</div>